{#{% extends 'survey/base.html' %}#}
{% extends 'base_n.html' %}
{% load i18n %}

{% block title %}
    {% trans " Questionnaire:Survey list" %}
{% endblock title %}



{% block body %}

    <!-- Team Section -->
    <section id="" class="section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>メタ認知能力ゲーム</h2>
{#        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>#}
      </div><!-- End Section Title -->

      <div class="container">
          <div class="col-xl-12 col-lg-12 col-md-12" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-info">


                    <div id="intro">
                        {% if messages %}
                            <p>
                                {% for message in messages %}
                                    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </p>
                        {% endif %}

                    {% if user.is_authenticated %}
                        <ul>
                            {% for survey in surveys %}
                                <li><h3><a href="{{ survey.get_absolute_url }}">調査セット:　{{survey.name}}　（カテゴリー:　{{ survey.description }}）</a></h3></li>
                    {#            <a href="{% url 'download-csv' survey.pk %}">Download answers list</a>#}

                            {% endfor %}
                        </ul>
                    {% endif%}

                    </div>

              </div>
            </div>
          </div><!-- End Team Member -->

      </div>

    </section><!-- /Team Section -->

<style>
    ul{
        padding:0px;
    }
    li{
        list-style-type: none;
    }
    #intro{
        text-align: center;
        margin-top:20px;
        font-size: larger;
        font-weight: bold;
    }
</style>

<script src="https://kit.fontawesome.com/0acdd383dd.js" crossorigin="anonymous"></script>
{% endblock %}
