{% extends 'survey/base.html' %}
{% load i18n %}

{% block body %}
<div id="intro">
    <h1>{% trans "メタ認知能力ゲーム"%}</h1>
    {% if messages %}
        <p>
            {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </p>
    {% endif %}

    <ul>
        {% for survey in surveys %}
{#  <li><a href="{{ survey.get_absolute_url }}"> {% trans "Take the Survey"%}{{survey.name}}</a></li>#}
            <li><a href="{{ survey.get_absolute_url }}">Take the survey - {{survey.name}}</a></li>
                <p>　　　</p>
            <a href="{% url 'download-csv' survey.pk %}">Download answers list</a>

        {% endfor %}
    </div>
</div>

<style>
    ul{
        padding:0px;
    }
    li{
        list-style-type: none;
    }
</style>
{% endblock %}
