<!DOCTYPE html>
{% load static %}
<html lang="en">
{% load i18n %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>
      {% block title %}
          {% trans " Questionnaire" %}
      {% endblock title %}
    </title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
    {% block extracss %}{% endblock %}
  <!-- =======================================================
  * Template Name: Ninestars
  * Template URL: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/
  * Updated: Mar 23 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

 {% block header %}

  <header id="header" class="header d-flex align-items-center sticky-top">

    <div class="container-fluid container-xl position-relative d-flex align-items-center">
    {% block logo %}
      <a href="{% url 'home_n' %}" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="{% static 'assets/img/NicePng_survey-png_2009414.png' %}" alt="">
        <!-- <h1 class="">メタ認知能力ゲーム</h1> -->
      </a>
    {% endblock logo %}
{#========================================================#}
  {#========================================================#}
    {#========================================================#}
        {#========================================================#}
        {#========================================================#}
    {#========================================================#}
  {#========================================================#}
{#========================================================#}

      <nav id="navmenu" class="navmenu">
        {% block nav %}
        <ul class="para">

        {% if user.is_authenticated %}
              <li><a class="btn-getstarted" href="{% url "mypage" %}">マイページ</a></li>
            <br>
            {% if is_staff or is_superuser %}
                <li><a class="btn-getstarted" href="{% url "admin:index" %}">コンソール</a></li>
                <br>
                <li><a class="btn-getstarted" href="{% url "upload_survey" %}">upload_survey</a></li>
                <br>
            {% endif %}
              <li><a class="btn-getstarted" href="{% url "logout" %}">ログアウト</a></li>
            <br>

        {% else %}
              <li><a class="btn-getstarted" href="{% url 'login'%}">ログイン</a></li>
            <br>
              <li><a class="btn-getstarted" href="{% url 'register-participant'%}">登録</a></li>
            <br>

            <!-- <br> -->

{#            　<h5 class="page-header"></h5>#}
{#            　<li><a class="btn-getstarted" href="{% url 'experimenter_login' %}">研究者のログイン</a></li>#}
{#            <br>#}
{#              <li><a class="btn-getstarted" href="{% url 'register-experimenter'%}">研究者の登録</a></li>#}
{#            <br>#}
        {% endif %}
          <!-- <li><a href="index.html#hero" class="">Home</a></li> -->
{#          <li><a href="{% url 'home_n' %}">Home</a></li>#}
        <!-- <br> -->
          <!-- <li><a href="index.html#about">About</a></li> -->

{#          <li><a href="index.html#services">Services</a></li>#}
{#          <li><a href="index.html#portfolio">Portfolio</a></li>#}
{#          <li><a href="index.html#team">Team</a></li>#}
{#          <li class="dropdown has-dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down"></i></a>#}
{#            <ul>#}
{#              <li><a href="#">Dropdown 1</a></li>#}
{#              <li class="dropdown has-dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down"></i></a>#}
{#                <ul>#}
{#                  <li><a href="#">Deep Dropdown 1</a></li>#}
{#                  <li><a href="#">Deep Dropdown 2</a></li>#}
{#                  <li><a href="#">Deep Dropdown 3</a></li>#}
{#                  <li><a href="#">Deep Dropdown 4</a></li>#}
{#                  <li><a href="#">Deep Dropdown 5</a></li>#}
{#                </ul>#}
{#              </li>#}
{#              <li><a href="#">Dropdown 2</a></li>#}
{#              <li><a href="#">Dropdown 3</a></li>#}
{#              <li><a href="#">Dropdown 4</a></li>#}
{#            </ul>#}
{#          </li>#}
{#          <li class="megamenu has-dropdown"><a href="#"><span>Mega Menu</span> <i class="bi bi-chevron-down"></i></a>#}
{#            <ul>#}
{#              <li>#}
{#                <a href="#">Column 1 link 1</a>#}
{#                <a href="#">Column 1 link 2</a>#}
{#                <a href="#">Column 1 link 3</a>#}
{#              </li>#}
{#              <li>#}
{#                <a href="#">Column 2 link 1</a>#}
{#                <a href="#">Column 2 link 2</a>#}
{#                <a href="#">Column 3 link 3</a>#}
{#              </li>#}
{#              <li>#}
{#                <a href="#">Column 3 link 1</a>#}
{#                <a href="#">Column 3 link 2</a>#}
{#                <a href="#">Column 3 link 3</a>#}
{#              </li>#}
{#              <li>#}
{#                <a href="#">Column 4 link 1</a>#}
{#                <a href="#">Column 4 link 2</a>#}
{#                <a href="#">Column 4 link 3</a>#}
{#              </li>#}
{#              <li>#}
{#                <a href="#">Column 5 link 1</a>#}
{#                <a href="#">Column 5 link 2</a>#}
{#                <a href="#">Column 5 link 3</a>#}
{#              </li>#}
{#            </ul>#}
{#          </li>#}
{#          <li><a href="index.html#contact">Contact</a></li>#}
        </ul>
      {% endblock nav %}
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>

      </nav>


{#========================================================#}
  {#========================================================#}
    {#========================================================#}
        {#========================================================#}
        {#========================================================#}
    {#========================================================#}
  {#========================================================#}
{#========================================================#}
    </div>

  <style>
    ul.para {
      {#width: 80%;#}
      margin: 0 -10px 0 0; /* マイナスプロパティで相殺 */
    }
    ul.para li{
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        /* width: 40%; */
        width: 100%;
    }
</style>

{% endblock header %}
  </header>

{%  if messages %}
 <script>
     {% for msg in messages %}
        alert('{{ msg.message }}')
     {% endfor %}
 </script>
 {% endif %}

{#========================================================#}
  {#========================================================#}
    {#========================================================#}
        {#========================================================#}
        {#========================================================#}
    {#========================================================#}
  {#========================================================#}
{#========================================================#}
  <main class="main">
    {% block context %}{% endblock %}
    {% block body %}{% endblock %}
  </main>
{#========================================================#}
  {#========================================================#}
    {#========================================================#}
        {#========================================================#}
        {#========================================================#}
    {#========================================================#}
  {#========================================================#}
{#========================================================#}

{% block footer %}
  <!-- <footer id="footer" class="footer position-relative">
    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-lg-6">
{#            <h4>Join Our Newsletter</h4>#}
{#            <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>#}
{#            <form action="forms/newsletter.php" method="post" class="php-email-form">#}
{#              <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>#}
{#              <div class="loading">Loading</div>#}
{#              <div class="error-message"></div>#}
{#              <div class="sent-message">Your subscription request has been sent. Thank you!</div>#}
{#            </form>#}
          </div>
        </div>
      </div>
    </div>

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="d-flex align-items-center">
            <span class="">国立大学法人 北陸先端科学技術大学院大学</span>
          </a>
          <div class="footer-contact pt-3">
            <p>〒923-1292</p>
            <p>石川県能美市旭台1-1</p>
            <p class="mt-3"><strong>（代表）</strong> <span>0761-51-1111</span></p>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12">
          <h4>Follow Us</h4>
          <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
          <div class="social-links d-flex">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1">JAIST</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
<!-- {#        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>#} -->
      <!-- </div> -->
    <!-- </div> -->

  <!-- </footer> --> 

{% endblock %}
  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    {% block extrajs %}{% endblock %}
  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>





</body>

</html>