{% extends 'base_n.html' %}
{% load i18n %}

{% block title %}
    {% trans " Questionnaire:Upload CSV" %}
{% endblock title %}


{% block body %}

    <!-- Team Section -->
    <section id="" class="section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>アップロード</h2>
      </div><!-- End Section Title -->

      <div class="container">
          <div class="col-xl-12 col-lg-12 col-md-12" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-info">
                    <div id="intro">

                    <h1>ファイルをアップロード</h1>
                        <form method="POST" enctype="multipart/form-data">
                          {% csrf_token %}
                          {{ form.as_p }}
                          <button type="submit">アップロード</button>
                        </form>

                    </div>
                <br/>
                  <br/>
                  <br/>
                  <br/>
                  <h2>１．　Categoryファイルの命名</h2>
                  <br/>
                  <h4>＜THE NAME OF SURVET＞_Category_1.csv</h4>
                  <br/>
                  <h3>例：</h3>
                  <h4>test-survey-1_Category_1.csv</h4>
                    <br/>
                  <br/>
                  <br/>
                  <br/>
                  <h2>　１．１　Categoryファイルの内容</h2>
                  <br/>
                  <br/>
                  <table style="width:60%">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Display Number</th>
                        <th>Hiding Question Order</th>
                        <th>Block Type</th>

                      </tr>
                      <tr>
                        <th>....</th>
                        <th>....</th>
                        <th>....</th>
                        <th>....</th>
                        <th>＜sequence/one-random＞</th>
                      </tr>
                    </table>

                  <br/>
                  <br/>
                  <br/>
                  <h2>２．　Questionファイルの命名</h2>
                  <br/>
                  <h4>＜THE NAME OF SURVET＞_Question_1.csv</h4>
                  <br/>
                  <h3>例：</h3>
                  <h4>test-survey-1_Question_1.csv</h4>
                    <br/>
                  <br/>
                  <br/>
                  <br/>
                  <h2>　２．２　Questionファイルの内容</h2>
                  <br/>
                  <br/>
                  <table style="width:60%">
                      <tr>
                        <th>Markings</th>
                        <th>Text</th>
                        <th>Order</th>
                        <th>Category</th>
                        <th>Choice</th>
                        <th>Hiding Question Order</th>

                      </tr>
                      <tr>
                        <th>....</th>
                        <th>&lt;h1&gt;34&lt;/h1&gt;</th>
                        <th>....</th>
                        <th>....</th>
                        <th>....</th>
                        <th>....</th>
                      </tr>
                    </table>



              </div>
            </div>
          </div><!-- End Team Member -->

      </div>

    </section><!-- /Team Section -->


{% endblock %}