{% extends "base_n.html" %}
{% load i18n %}
  {% block title %}
    Questionnaire:Signup as experimenter
  {% endblock %}

{% block nav %}

{% endblock nav %}

{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<section class="section">
  <div class="container py-5 h-100" data-aos="fade-up">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5 card_body_container">

                <h1>Signup-experimenter</h1>
                <br>

                <form method="post" action="{% url 'register-experimenter' %}">
                  {% csrf_token %}
{#                            {{ form }}#}
                          <div class="login_input">
                            <label class="floatingInput" for="typeEmailX" style="overflow:unset ;!important">Username</label>
                            {{ form.username }}
                              <p style="color: red">{{ form.username.errors }}</p>
                          </div>
                        <br>
                          <div class="login_input">
                            <label class="form-label" for="typePasswordX" style="overflow:unset ;!important">Nicknames</label>
                            {{ form.nicknames }}
                              {% for error in form.nicknames.errors %}
                                  <p style="color: red">{{ error }}</p>
                              {% endfor %}
                          </div>
                        <br>
                          <div class="login_input">
                            <label class="form-label" for="typePasswordX" style="overflow:unset ;!important">Email</label>
                            {{ form.email }}
                              {% for error in form.email.errors %}
                                  <p style="color: red">{{ error }}</p>
                              {% endfor %}
                          </div>
                        <br>
                          <div class="login_input">
                            <label class="form-label" for="typePasswordX" style="overflow:unset ;!important">Affiliated Sschool</label>
                            {{ form.affiliated_school }}
                          </div>
                        <br>
                          <div class="login_input">
                            <label class="form-label" for="typePasswordX" style="overflow:unset ;!important">Field</label>
                            {{ form.field_1 }}
                          </div>
                        <br>
                        <div class="login_input">
                            <label class="form-label" for="typePasswordX" style="overflow:unset ;!important">If the choice for the Field is "OTHER",<br/>please fill in your field of study.</label>
                            {{ form.extra_field }}
                        </div>


                        <br>
                          <div class="login_input">
                            <label class="form-label" for="typePasswordX" style="overflow:unset ;!important">Password</label>
                            {{ form.password1 }}
                                  {% for error in form.password1.errors %}
                                      <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                          </div>
                        <br>
                          <div class="login_input">
                            <label class="form-label" for="typePasswordX" style="overflow:unset ;!important">Password</label>
                            {{ form.password2 }}
                                    {% for error in form.password2.errors %}
                                      <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                          </div>
                    <br>
                    <br>
                    <br>
                    <button type="submit" value="Login" class="btn btn-outline-light btn-lg px-5">Signup</button>
{#                    <input type="hidden" name="next" value="{{ next }}" />#}
                    <br>
                    <br>
                    <p>Supported by JSPS Grant-in-Aid for Scientific Research (B) No. JP21H00923</p>


                </form>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
$("#id_extra_field").prop('disabled', true);

$('#id_field_1').on('change', function() {
                  if (this.value=="OTHER") {
                    $("#id_extra_field").prop('disabled', false);
                } else {
                    $("#id_extra_field").prop('disabled', true);
                }
});
</script>


{% endblock %}