{% extends "admin/adminpage/addquestion.html" %}
{% load bootstrap static i18n simpletags %}

{% block control-checked %}checked{% endblock %}

{% block hint %}{% endblock %}

{% block content_title %}
    <div id="content-main">
        <div class="page-header">
            <el-page-header title="{% trans 'Back' %}" @back="goBack" content="{{ title }}"/>
        </div>
        <div class="module filtered" id="changelist">
        
            <h3>調査セット「{{ survey }}
                <span id="span-public">
                {% if survey.is_published %}
                    <string style="color:PaleGreen;">(公開済み)</string>
                {% elif not survey.is_published %}
                    <string style="color:Salmon;">(未公開)</string>
                {% endif %}
                </span>
                」への質問追加
            </h3>
        
            <p id="survey-id" hidden>{{ survey.id }}</p>
            <p id="question_num_0" style="color:{{ color }}" nowrap>現在、調査セットの質問数：<span id="question_num"
                                                                                                  style="color:{{ color }}"
                                                                                                  nowrap></span>
                / {{ number_of_question }}</p>
        </div>
    </div>
    <div>



{% endblock %}


{% block question %}

    <form id="formId" method='POST' action='/dashboards/{{ survey.id }}/add-control-question/'>
        {% csrf_token %}
        {{ form.media }}
        <div class="container">
            <br>
            <br>
            <h1>コントロール問題</h1>
            <p>説明：</p>
            <br>

            <h2>質問文と選択肢の入力</h2>
            <br>

            {#{{ form|bootstrap}}#}
            <br>
            {{ form.as_p }}
            <div></div>
            <br>
            <br/>

            <button name="btn_submit" type="submit" class="btn btn-success">次の質問を入力</button>
            <br>
        </div>
    </form>

{% endblock %}