{% extends "admin/base_site.html" %}
{% load static %}
{% block extrahead %}
    
    
{{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{% endblock %}

{% block extrastyle %}
{#    {{ block.super }}#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>#}
{% endblock %}

{% block pretitle %}
{#    <div id="content-main">#}
{#        <div class="module filtered" id="changelist">#}
{#            <h2>調査セット「{{ survey }}」のSummary</h2>#}
{#        </div>#}
{#    </div>#}
{% endblock %}

{% block content_title %}
    <div id="content-main">
        <div class="module filtered" id="changelist">
             <h2>調査セット「{{ survey }}」のSummary</h2>
            <p id="survey-id" hidden>{{ survey.id }}</p>
        </div>
    </div>


{% endblock %}


{% block content %}
    <style type="text/css">
        .inline-group .tabular td.original p {
            margin-top: -50px;
            height: 1.2em;
        }

        .page-header {
            padding: 10px;
        }

    </style>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    

    <div id="content-main">
        <div class="module filtered" id="changelist">
            <div class="el-col el-col-24">
                <div class="el-card box-card is-always-shadow">
                    <div class="el-card__body">
                        <div class="clearfix">

                            
                            
                            
                            
                            <div class="container text-center">
                              <div class="row align-items-start">
                                <div class="col">

                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">*</th>
                                            <th scope="col">Infor</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>

                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>

                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>

                                            <td colspan="2">Larry the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                                  <div class="col">
                                      One of three columns
                                  </div>
                              </div>
                            </div>

                            
                            
                            
                            
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>


        
    </script>

    
    

    {% block admin_change_form_document_ready %}
        

    {% endblock %}


{% endblock %}


{% block sidebar %}

{% endblock %}

