{% extends "admin/adminpage/addquestion.html" %}
{% load bootstrap %}

{% block default-random-checked %}checked{% endblock %}

{% block content_title %}
    <div id="content-main">
        <div class="module filtered" id="changelist">
            <h3>調査セット「{{ survey }}」への質問追加</h3>
            <p id="survey-id" hidden>{{ survey.id }}</p>
{#            <p id="question_num_0" style="color:{{ color }}" nowrap>現在、調査セットの質問数：<span id="question_num" style="color:{{ color }}" nowrap></span> / {{ number_of_question }}</p>#}
        </div>
    </div>
    <div>

    <script>
            $(document).ready(function () {
            var survey_id = $("#survey-id").text();
            $.get('/ajax/add-question/', {survey_id: survey_id}, function (data) {
                data = JSON.parse(data);
                $('#question_num').text(data["num_question"]);
                $('#question_num').css("color",data["color"]);
                $('#question_num_0').css("color",data["color"]);
            });

        });

    </script>


{% endblock %}


{% block question %}

    <form id="formId" method='POST' action='/dashboards/{{ survey.id }}/add-default-random-question/'>
        {% csrf_token %}
        {{ form.media }}
        <div class="container">
            <br>
            <br>
            <h1>デフォルト・ランダムの質問</h1>
            <p>説明：</p>
            <br>
        
            <h2>質問文と選択肢の入力</h2>
            <br>
            
            {#{{ form|bootstrap}}#}
            <br>
            {{ form.as_p }}
            <div></div>
            <br>
            <br/>
        
            <button name="btn_submit" type="submit" class="btn btn-success">次の質問を入力</button>
            <br>
        </div>
    </form>

{% endblock %}