{% extends "admin/base_site.html" %}
{% load static i18n simpletags%}
{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{% endblock %}

{% block extrastyle %}

{% endblock %}

{% block pretitle %}

{% endblock %}

{% block content_title %}
    <div id="content-main">
        <div class="module filtered" id="changelist">
            <h2>調査セット「{{ survey }}」のSummary</h2>
            <p id="survey-id" hidden>{{ survey.id }}</p>
        </div>
    </div>
{% endblock %}


{% block content %}
    <style type="text/css">
        .inline-group .tabular td.original p {
            margin-top: -50px;
            height: 1.2em;
        }

        .page-header {
            padding: 10px;
        }

    </style>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>


    <div id="content-main">

    <div class="page-header">
        <el-page-header title="{% trans '調査セットのリストに戻る' %}" @back="goBack" content="{{title}}"/>
        <div class="el-button-group btn-group" size="small" style="margin-bottom: 10px;">
                                        <a href="" class="el-button el-button--default el-button--small">
                                <span class="el-icon-refresh">  リフレッシュ</span>
                                </a>
        </div>
    </div>
    
        <div class="module filtered" id="changelist">
            <div class="el-col el-col-24">
                <div class="el-card box-card is-always-shadow">
                    <div class="el-card__body">
                        <div class="clearfix">


                            <div class="container text-center">
                                <div id="content-main">
                                    <div class="module filtered" id="changelist">
                                        <h3>調査セット「{{ survey }}」の概要</h3>
                                        <p id="survey-id" hidden>{{ survey.id }}</p>
                                    </div>
                                </div>
                                <div class="el-button-group btn-group" size="small" style="margin-bottom: 10px;">
                                    <a href="/admin/survey/survey/{{ survey.id }}/change/"
                                       class="el-button el-button--default el-button--small">
                                        <span class="el-icon-plus">　調査セットを編集する</span>
                                    </a>
                                </div>
                                <div class="row align-items-start">


                                    <div class="col">

                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">attributes</th>
                                                <th scope="col">Information</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>名前</td>
                                                <td>{{ survey.name }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>非表示の名前</td>
                                                <td>{{ survey.hide_name }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>カテゴリー（分野）</td>
                                                <td>{{ survey.description }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">4</th>
                                                <td>作成者</td>
                                                <td>{{ survey.founder }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">9</th>
                                                <td>質問の数</td>
                                                <td>{{ survey.number_of_question }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <td>Publication date</td>
                                                <td>{{ survey.publish_date }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">6</th>
                                                <td>Expiration date</td>
                                                <td>{{ survey.expire_date }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">7</th>
                                                <td>診断結果の表示の最低数</td>
                                                <td>{{ survey.diagnostic_page_indexing }}</td>
                                            </tr>

                                            </tbody>
                                        </table>

                                    </div>

{#                                    <div class="col">#}
{#                                        s#}
{#                                    </div>#}

                                </div>

                            </div>

                            <div class="container text-center">
                                <div id="content-main">
                                    <div class="module filtered" id="changelist">
                                        <h3>「{{ survey }}」の質問リスト</h3>
                                        <p id="survey-id" hidden>{{ survey.id }}</p>
                                    </div>
                                </div>
                            
                            
                            
                            <div class="el-button-group btn-group" size="small" style="margin-bottom: 10px;">
                                <a href="{% url "add-question-with-id" survey.id %}" class="el-button el-button--default el-button--small">
                                <span class="el-icon-plus">　質問を追加する</span>
                                </a> 
                                
                                <a href="" class="el-button el-button--default el-button--small">
                                <span class="el-icon-refresh">  リフレッシュ</span>
                                </a>
                            </div>
                            <br>
                            
                            
                                <div class="row align-items-start">
                                    <div class="col">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">質問文</th>
                                                <th scope="col">選択肢</th>
                                                <th scope="col">回答数</th>
                                                <th scope="col">多数の選択</th>
                                                <th scope="col">ブロックマーキング</th>
                                                <th scope="col">類別</th>
                                                <th scope="col">順番</th>
                                                <th scope="col">選択飛び</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for question in question_list %}
                                                <tr>
                                                
                                                
                                                
                                                    <th scope="row">{{ forloop.counter }}</th>
                                                
                                                
                                                
                                                
                                                    <td style="width:30%">
                                                        <a href="/admin/survey/question/{{ question.pk }}/change/">
                                                            {{ question.text |striptags }}
                                                        </a>
                                                    </td>
                                                    <td style="width:30%">{{ question.choices }}</td>
                                                    <td style="width:10%">
                                                        <div class="progress" role="progressbar"
                                                             aria-label="Example with label" aria-valuenow="25"
                                                             aria-valuemin="0" aria-valuemax="100">
                                                            <div class="progress-bar" style="width: {{ question.number_rate }}%">{{ question.number_of_responses }}/{{ diagnostic_page_indexing }}</div>
                                                        </div>
                                                        
                                                    </td>
                                                    <td>{{ question.majority_choices }}</td>
                                                    <td><p style="color:{{ question.category.color }}">{{ question.category.name }}</p></td>
                                                
                                                    {% if question.category.block_type == "default-random"  %}
                                                        <td>--</td>
                                                    {% elif question.category.block_type == "one-random"  %}
                                                        <td>グループ分け</td>
                                                    {% elif question.category.block_type == "sequence"  %}
                                                        <td>順番固定</td>
                                                     {% elif question.category.block_type == "branch"  %}
                                                        <td>枝分け</td>
                                                     {% elif question.category.block_type == "control-question"  %}
                                                        <td>コントロール</td>
                                                    {% endif %}
                                                
                                                
                                                    {% if question.category.block_type == "default-random"  %}
                                                        <td>--</td>
                                                    {% elif question.category.block_type == "one-random"  %}
                                                        <td>{{ question.order }}</td>
                                                    {% elif question.category.block_type == "sequence"  %}
                                                        <td>{{ question.order }}</td>
                                                     {% elif question.category.block_type == "branch"  %}
                                                        <td>--</td>   
                                                    {% elif question.category.block_type == "control-question"  %}
                                                        <td>--</td>  
                                                    {% endif %}
                                                
                                                
                                                    {% if question.category.block_type == "default-random"  %}
                                                        <td>--</td>
                                                    {% elif question.category.block_type == "one-random"  %}
                                                        <td>--</td>
                                                    {% elif question.category.block_type == "sequence"  %}
                                                        <td>--</td>
                                                     {% elif question.category.block_type == "branch"  %}
                                                        <td>{{ question.jump_type }}</td> 
                                                    {% elif question.category.block_type == "control-question"  %}
                                                        <td>--</td> 
                                                    {% endif %}
                                                
                                                    
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>


                                    </div>
                                </div>

                            <div class="el-button-group btn-group" size="small">
                                <a href="{% url "add-question-with-id" survey.id %}" class="el-button el-button--default el-button--small">
                                <span class="el-icon-plus">　質問を追加する</span>
                                </a> 
                                
                                <a href="" class="el-button el-button--default el-button--small">
                                <span class="el-icon-refresh"></span>
                                </a> 
                                

                            </div>
                            
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    new Vue({
        el: '.page-header',
        methods: {
            goBack: function () {
                window.location.href = '{% url "admin:survey_survey_changelist" %}'
            }
        }
    })

    </script>




    {% block admin_change_form_document_ready %}


    {% endblock %}


{% endblock %}


{% block sidebar %}

{% endblock %}

